{% extends "layout.html" %}

{% block content %}
	<br> <br> <br>
	<div class="row">
		<div class="col-md-3">
			<br>
			<br>
			<div class="btn-group btn-group-sm">
  				<button type="button" class="btn btn-default active day" >Day 1</button>
  				<button type="button" class="btn btn-default day" >Day 2</button>
  				<button type="button" class="btn btn-default day" >Day 3</button>
  				<button type="button" class="btn btn-default" id="addDay">+ Add Day</button>
			</div>
		</div>
		<div class="col-md-3">
			<h4 id="planHotel">Hotels </h4>
			<div class='btn-group'>
				<div class="btn-group">
	  				<button type="button" id="nowhotel" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
	    
	  				</button>
	  				<ul class="dropdown-menu" id= "list_hotels" role="menu">
					</ul>
	  			</div>
  				<button type="button" class="btn btn-default addSomething">Add</button>
  			</div>
		</div>
		<div class="col-md-3">
			<h4 id="planThing">Things to do</h4>
			<div class='btn-group'>
				<div class="btn-group">
	  				<button type="button" id="nowthingtodo" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
	    				
	  				</button>
	  				<ul class="dropdown-menu" id="list_thingstodo" role="menu">
	  				</ul>
	  			</div>
  				<button type="button" class="btn btn-default addSomething">Add</button>
  			</div>
		</div>
		<div class="col-md-3">
			<h4 id="planRestaurant">Restaurants</h4>
			<div class='btn-group'>
				<div class="btn-group">
	  				<button type="button" id="nowrestaurant" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
	    				
	  				</button>
	  				<ul class="dropdown-menu" id="list_restaurants" role="menu">
	  				</ul>
	  			</div>
  				<button type="button" class="btn btn-default addSomething">Add</button>
  			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3" id="dayPlan">
		</div>
		<div class="col-md-9">
			<br>
			<div style="height: 500px; width:750px" id="map-canvas" ></div>
		</div>
	</div>
<script>
 {% autoescape false %}
	var all_hotels = {{ hotels | json }};
	var all_restaurants = {{ restaurants | json }};
	var all_things_to_do = {{ things_to_do | json }};
 {% endautoescape %}
 </script>

<script src="javascripts/menu_function.js"> </script> 
 
{% endblock %} 